.section.service {

    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: $page-spacing 0 ($page-spacing * 4);

        @media screen and (max-width: 1224px) {
            justify-content: center;
        }
    }

    .card {
        border-radius: 1.6rem;
        box-shadow: -5px 10px 25px 0px rgba(0,0,0,0.10);
        padding: $page-spacing;
        min-height: 35rem;
        max-width: 40rem - $page-spacing;
        min-width: 40rem - $page-spacing;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background: linear-gradient(to right, #9386d2 , #7459b2);
        color: $white;
        font-family: $font-family-semibold;

        @media screen and (max-width:440px) {
            min-width: 100%;
            max-width: 32rem;
        }

        @media screen and (max-width: 368px){
            max-width: 28.6rem;
        }

        &:hover {
            box-shadow: 0 14px 63px -11px rgba(147,134,210,1);
        }

        &:not(:last-of-type) {
            margin-right: $page-spacing;

            @media screen and (max-width: 1224px) {
                margin-bottom: $page-spacing;
            }

            @media screen and (max-width: 847px) {
                max-width: 40rem;
                margin: 0 0 $page-spacing;
            }

            @media screen and (max-width:440px) {
                max-width: 32rem;
            }

            @media screen and (max-width:368px) {
                max-width: 28.6rem;
            }
        }

        &:nth-of-type(2) {
            background: linear-gradient(to right, #ff9b3d , #ff8710);

            &:hover {
                box-shadow: 0 14px 63px -11px rgba(255,155,61,1);
            }
        }

        &:last-of-type {
            background: linear-gradient(to right, #57a7ff , #2994ff);

            &:hover {
                box-shadow: 0 14px 63px -11px rgba(87,167,255,1);
            }

            @media screen and (max-width: 847px) {
                max-width: 40rem;
            }

            @media screen and (max-width:440px) {
                max-width: 32rem;
            }

            @media screen and (max-width:368px) {
                max-width: 28.6rem;
            }
        }
    }

    .top {
        width: 100%;
        display: flex;

        .card-headline {
            font-size: 3.6rem;
            flex: .7;

            @media screen and (max-width: 440px){
                font-size: 2.6rem;
            }
        }

        .card-icon {
            flex: .3;
            min-width: 10rem;
            width: unset;
            height: unset;
            max-width: 10rem;
        }
    }

    .middle {
        flex: 1;
        padding: $page-spacing 0;
        line-height: 3rem;
    }
}
