.gp-icon,
.language,
.logo-icon,
.fb,
.in,
.in,
.info-icon,
.error-icon,
.check-icon,
.customers,
.stuff,
.buissnies {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-flex;
    width: 2.4rem;
    height: 2.4rem;
}

.logo-wrap .dark .logo-icon {
    background-image: url('#{$img-path}logo-dark.svg');
}
.gp-icon {
    background-image: url("#{$icon-path}gp.svg");
}
.language {
    background-image: url("#{$icon-path}language.svg");
}
.logo-icon {
    background-image: url('#{$img-path}logo.svg');
}
.info-icon {
    background-image: url("#{$icon-path}info-outline.svg");
}
.error-icon {
    background-image: url("#{$icon-path}error-outline.svg");
}
.check-icon {
    background-image: url("#{$icon-path}check-outline.svg");
}
.fb {
    background-image: url("#{$icon-path}facebook.svg");
}
.inst {
    background-image: url("#{$icon-path}instagram.svg");
}
.in {
    background-image: url("#{$icon-path}linkedin.svg");
}
.customers {
    background-image: url("#{$img-path}happy-customer.svg");
}
.stuff {
    background-image: url("#{$img-path}happy-stuff.svg");
}
.buissnies {
    background-image: url("#{$img-path}happy-buissnies.svg");
}
