.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content: flex-start;
}

.font-bold {
    font-family: $font-family-bold;
}
.font-semibold {
    font-family: $font-family-semibold;
}
.font-size-sm {
    font-size: $font-size-sm;
}
.font-size-m {
    font-size: $font-size-m;
}
.font-size-l {
    font-size: $font-size-l;
}

.p24 {
    padding: $page-spacing;
}
.p12 {
    padding: $page-spacing / 2;
}
.pt24 {
    padding-top: $page-spacing;
}
.pt12 {
    padding-top: $page-spacing / 2;
}
.pb24 {
    padding-bottom: $page-spacing;
}
.pb12 {
    padding-bottom: $page-spacing / 2;
}
.pr12 {
    padding-right: $page-spacing / 2;
}
.pr24 {
    padding-right: $page-spacing;
}
.pl12 {
    padding-left: $page-spacing / 2;
}
.pl24 {
    padding-left: $page-spacing;
}

.m24 {
    margin: $page-spacing;
}
.m12 {
    margin: $page-spacing / 2;
}
.mr12 {
    margin-right: $page-spacing / 2;
}
.mr24 {
    margin-right: $page-spacing;
}
.mb12 {
    margin-bottom: $page-spacing / 2;
}
.mb24 {
    margin-bottom: $page-spacing;
}
.ml12 {
    margin-left: $page-spacing / 2;
}
.ml24 {
    margin-left: $page-spacing;
}
.mt12 {
    margin-top: $page-spacing / 2;
}
.mt24 {
    margin-top: $page-spacing;
}

.accent-text {
    color: $accent;
}

.display-none {
    display: none !important;
}

.text-right {
    text-align: right;
}
