/// App prefix
/// @group op-vars
$prefix: 'op-';
/// App image path
/// @group op-vars
$img-path: "assets/img/";
/// App font path
/// @group op-vars
$fonts-path: "assets/fonts/";
/// App font path
/// @group op-vars
$icon-path: "assets/icons/";
/// App font size xs
/// @group op-vars
$font-size-xs:          1rem;
/// App font size sm
/// @group op-vars
$font-size-sm:          1.2rem;
/// App font size
/// @group op-vars
$font-size:             1.4rem;
/// App font size m
/// @group op-vars
$font-size-m:           1.6rem;
/// App font size l
/// @group op-vars
$font-size-l:           1.8rem;
/// App font size xl
/// @group op-vars
$font-size-lg:        2rem;
/// App material font icons
/// @group op-vars
$icons-font-family: 'MaterialIcons';
/// App material font icons size
/// @group op-vars
$icons-font-size: 2.4rem;
/// App secondary font
/// @group op-vars
$font-family: 'montserrat-regular';
/// App secondary semibold font
/// @group op-vars
$font-family-semibold: 'montserrat-semibold';
/// App secondary bold font
/// @group op-vars
$font-family-bold: 'montserrat-bold';
/// App logo font
/// @group op-vars
$logo-font-family: 'logo-font';
/// App white color
/// @group op-vars
$white: #fff;
/// App black color
/// @group op-vars
$black: #000;
/// App body bg color
/// @group op-vars
$body-bg: #eee;
/// App body bg dark color
/// @group op-vars
$body-bg-dark: #121212;
/// App body color
/// @group op-vars
$body-color: rgba($black, .85);
/// App body color
/// @group op-vars
$body-color-light: rgba($white, .85);
/// App page spacing
/// @group op-vars
$page-spacing: 2.4rem;
/// App header height
/// @group op-vars
$header-height: 10.2rem;
/// App accent color
/// @group op-vars
$accent: #0d66f3;
/// App accent color
/// @group op-vars
$border-radius: .4rem;
