.btn {
    border-radius: 3rem;
    border-color: $white;
    background-color: $white;
    border-width: 2px;
    border-style: solid;
    color: $accent;
    font-family: $font-family-semibold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 200ms ease-in-out;

    &:hover,
    &:focus {
        color: $white;
        background-color: transparent;
    }

    &:active {
        background-color: rgba($white, .4);
    }

    &.primary {
        background: $accent;
        color: $white;
        border-color: $accent;

        &:hover,
        &:focus {
            color: $accent;
        }

        &:active {
            background-color: rgba($accent, .2);
        }

        &.outline {
            background: transparent;
            border-color: $accent;
            color: $accent;

            &:hover,
            &:focus {
                background-color: $accent;
                color: $white;
            }

            &:active {
                background-color: rgba($accent, .2);
                color: $accent
            }
        }
    }

    &.block {
        width: 100%;
    }

    &.pbig {
        padding: 1.5rem 3rem;
    }

    &.gradient {
        border-color: transparent;
        background: linear-gradient(45deg, #9d6599 0%, #3a6c9a 97%);
        color: $white;

        &:hover {
            box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        }
    }
}
