.hamburger {
    cursor: pointer;
    height: 4rem;
    transition: all 200ms ease-in-out;
    user-select: none;
    width: 4rem;

    &.active {

        .hamburger-inner {
            background: transparent;

            &::before {
                transform: translateY(1.75rem) rotate(-45deg);
            }

            &::after {
                transform: translateY(1.25rem) rotate(45deg);
            }
        }
    }

    .hamburger-inner {
        background: #fff;
        height: .5rem;
        transition: all 200ms ease-in-out;
        border-radius: $border-radius;

        &::before,
        &::after {
            background: white;
            content: '';
            display: block;
            height: .5rem;
            transition: all 200ms ease-in-out;
            border-radius: $border-radius;
        }

        &::before {
            transform: translateY(1.5rem);
        }

        &::after {
            transform: translateY(2.5rem);
        }
    }

    @media screen and (min-width: 801px) {
        display: none;
    }
}
