.language-menu {
    cursor: pointer;
    color: $white;
    opacity: .85;
    transition: opacity 200ms ease-in-out;
    position: relative;
    padding-right: 2rem;
    display: inline-flex;

    &::after {
        content: '';
        width: 0;
        position: absolute;
        right: .5rem;
        top: 1rem;
        height: 0;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid $white;
        opacity: .85;
        cursor: pointer;
    }

    &:hover,
    &.active {
        opacity: 1;

        &::after {
            opacity: 1;
        }
    }

    &.active {
        .dropdown-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
